<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="../css/product-style.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="container-producto">
                <h2>Piso flotante melaminico</h2>
                <p>Los pisos flotantes son una excelente opcion al momento de querer renovar los ambientes sin entrar en obra.</p><br>
                <p>Ingresa en nuestra tienda para obtener el tuyo o contactanos para tener un presupuesto personalizado</p>
                <a href="/tienda">Obtene el tuyo</a>

            </div>
            <div class="container-producto2 ">
                <h2>Piso flotante SPC</h2>
                <p>Los pisos flotantes de SPC son la revolucion del mercado. Su resistencia a la humedad hace de estos la mejor opcion para esos ambientes dificiles</p><br>
                <p>Ingresa en nuestra tienda para obtener el tuyo o contactanos para tener un presupuesto personalizado</p>
                <a href="/tienda">Obtene el tuyo</a>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>
</html