<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="../css/product-style.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="container-producto">
                <h2>Piso flotante melaminico</h2>
                <img src="../images/piso-spc" alt="">
            </div>
            <div class="container-producto">
                <h2>Piso flotante SPC</h2>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>
</html