<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <link href="css/styles.css" rel="stylesheet">"
<body>
    <header>
        <%- include ('partials/header') %>
    </header>
    <footer>
        <%- include ('partials/footer') %>
    </footer>
</body>
</html>