<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
    <link href="css/index.css" rel="stylesheet">"
</head>

<body>
    <header>
        <%- include ('partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="carrousel">
                <img src="images/piso2.jpg" alt="Image 1" class="imagen">
                <img src="https://www.kipclin.com/images/blog/10-consejos-para-conservar-y-cuidar-tus-pisos-de-madera.jpeg" alt="Image 2"  class="imagen">
                <img src="https://sportlink.com.br/wp-content/uploads/2019/10/cancha-de-c%C3%A9sped-sint%C3%A9tico-Sportlink.jpg" alt="Image 3"  class="imagen">
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>
        
    </main>
    <footer>
        <%- include ('partials/footer') %>
    </footer>
    
</body>

</html>