<section class="contenedorFooter">

    <article class="conocenos">
        <h2>Conocenos</h2>
        <a href="https://www.instagram.com/"> <img src="/images/instagram-icon.png" alt="Instagram"
                class="instagramIcon"> </a>
        </a>
        <a href="https://www.facebook.com/" target="blank">
            <img class="Facebook" src="/images/facebook-icon.png" alt="Facebook">
        </a>

        <a href="https://www.whatsapp.com/" target="blank">
            <img class="WhatsApp" src="/images/whatsapp-icon.png" alt="WhatsApp">
        </a>
        <a href="https://www.email.com/" target="blank">
            <img class="Email" src="/images/email.png" alt="Email">
        </a>
    </article>
</section>

<p class="derechos">| Made by traveller Coder | Copyright 2023 |  </p>