<nav class="navBar">
    <div class="logoContainer">
        <a href="/"><img src="/images/ornamento-decor-sant2.png" class="logo"> </a>
        <h4>Decor Sant</h4>
        <p>Pisos Y Revestimientos</p>
    </div>
    <ul class="navBar-List">
        <li class="navBar-item"><a href="/about">Conocenos</a></li>
        <li class="navBar-item"><a href="/showRoom">Show Room</a>
            <ul class="dropdown">
                <li><a href="/showRoom">Conoce todo lo que Decor Sant tiene para ofrecerte </a></li>
            </ul>
        </li>
        <li class="navBar-item"><a href="/contact">Contacto</a></li>
        <li class="navBar-item"><a href="/store">Tienda On-line</a></li>
    </ul>
</nav>
<hr>